<h1>PerdidasMateriales#index</h1>
<p>Find me in app/views/perdidas_materiales/index.html.erb</p>
<h2>PERDIDAS MATERIALES EN EXTRAESCOLARES EN DATAWAREHOUSE</h2>
    <table style="width:100%", class= "table table-striped table-bordered table-sm">
        <tr>
            <th>Id Pérdida</th>
            <th>Id Recurso</th> 
            <th>Id Préstamo</th>
            <th>Cantidad</th> 
            <th>Costo</th> 
        </tr>
        <% @perdidas_data.each do |perdida| %>
                <tr>
                    <th><%= perdida.Id_perdida %></th>
                    <th><%= perdida.Id_recurso %></th> 
                    <th><%= perdida.Id_prestamo %></th>
                    <th><%= perdida.Cantidad %></th> 
                    <th><%= perdida.Costo_total %></th>                     
                </tr>
        <%end%>
    </table>