<h1>Competencias#index</h1>
<p>Find me in app/views/competencias/index.html.erb</p>
<h2>COMPETENCIAS EN DATA WAREHOUSE</h2>
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id Competencia</th> 
        <th>Id Unidad</th>
        <th>Descripci贸n</th>
    </tr>
    <% @competencias_data.each do |competencia| %>
        <tr>
            <th><%= competencia.Id_Compet %></th> 
            <th><%= competencia.Id_Unidad %></th>
            <th><%= competencia.Descripci贸n %></th> 
        </tr>
    <%end%>
</table>
<h2>COMPETENCIAS EN CONTROL ACADEMICO</h2>
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id Competencia</th> 
        <th>Id Unidad</th>
        <th>Descripci贸n</th>
    </tr>
    <% @competencias_ca.each do |competencia| %>
        <tr>
            <th><%= competencia.Id_Compet %></th> 
            <th><%= competencia.Id_Unidad %></th>
            <th><%= competencia.Descripci贸n %></th> 
        </tr>
    <%end%>
</table>