<h1 class="text-center">PersonalAdmin</h1>
<!---<p>Find me in app/views/personal_admin/edit.html.erb</p>---->
<p class="text-center">EDITAR MOVILIDADES CON ERROR</p>
<div>
  <%= simple_form_for @personal, method: :patch do |f| %> <!-- CREA UN FORMULARIO PARA LA VARIABLE @alumno -->
      <%@personal.errors.each do |value, message|%> 
        <h5 class= "alert alert-danger"><%=message%></h5>
      <%end%>
    
      <%= f.input :Id_Pers, placeholder: "Id_Alumno", class:"form-control m-4", readonly: true%>
      <%= f.input :Id_Area, placeholder: "Id_Alumno", class:"form-control m-4", readonly: true%>
      <%if @errores[0] == nil%>
        <%= f.input :Nombre, placeholder: "Título", class:"form-control m-4", readonly: true%>
      <%else%>
        <%= f.input :Nombre, placeholder: "Título", class:"form-control m-4", error: false%>
      <%end%>
      <%= f.input :CorreoE, placeholder: "Id_Alumno", class:"form-control m-4", readonly: true%>
      <%if @errores[1] == nil%>
        <%= f.input :Estado, placeholder: "Título", class:"form-control m-4", readonly: true%>
      <%else%>
        <%= f.input :Estado, placeholder: "Título", class:"form-control m-4", error: false%>
      <%end%>
    <div class = "field">
      <%= f.submit "Guardar", class:"btn btn-primary m-2" %> 
      <%= link_to  "Regresar", personal_admin_index_path , class:"btn btn-primary m-2" %>
    </div>
  <% end %> 
<div>