<h1 class="text-center">Grupo Actividad</h1>
<p class="text-center">EDITAR ERRORES DE GRUPO ACTIVIDAD</p>
<div>
  <%= form_for @grupo, method: :patch do |f| %> <!-- CREA UN FORMULARIO PARA LA VARIABLE @alumno -->
      <%@grupo.errors.each do |value, message|%> 
        <h5 class= "alert alert-danger"><%=message%></h5>
      <%end%>
    <div class = "field">
      <%= f.text_field :Id_Grupo, placeholder: "Id_Alumno", class:"form-control m-4", readonly: "true"%>
    </div>
     <div class = "field">
      <%= f.text_field :Nombre, placeholder: "Id_Alumno", class:"form-control m-4", readonly: "true"%>
    </div>
    <div class = "field">
        <%= f.text_field :Cupo, placeholder: "Título", class:"form-control m-4"%>
    </div>
    <div class = "field">
      <%= f.text_field :Id_area, placeholder: "Id_Alumno", class:"form-control m-4", readonly: "true"%>
    </div>
    <div class = "field">
      <%= f.text_field :Hora_inicio, placeholder: "Id_Alumno", class:"form-control m-4", readonly: "true"%>
    </div>
    <div class = "field">
      <%= f.text_field :Hora_fin, placeholder: "Id_Alumno", class:"form-control m-4", readonly: "true"%>
    </div>
    <div class = "field">
      <%= f.submit "Guardar", class:"btn btn-primary m-2" %> 
    </div>
    <%= link_to  "Regresar", grupo_actividad_index_path , class:"btn btn-primary m-2" %>
  <% end %> 
<div>