<h1 class="text-center">GrupoActividad</h1>
<!-----<p>Find me in app/views/grupo_actividad/index.html.erb</p>---->
<%case current_user.tipo %>
<%when 1 %>
    <h2 class="text-center">GRUPOS DE ACTIVIDADES CON ERRORES EN DATAWAREHOUSE</h2>
    <table style="width:100%", class= "table table-striped table-bordered table-sm">
        <tr>
            <th>Id Grupo</th>
            <th>Nombre</th> 
            <th>Cupo</th>
            <th>Id Area</th> 
            <th>Id Actividad</th>
            <th>Id Dias</th> 
            <th>Hora Inicio</th>
            <th>Hora Fin</th> 
            <th>Opciones</th> 
        </tr>
        <% @grupos_data.each do |grupo| %>
            <%if grupo.errorCupo %>
                <tr>
                    <th><%= grupo.Id_Grupo %></th>
                    <th><%= grupo.Nombre %></th> 
                    <th class ='alert alert-danger'><%= grupo.Cupo %></th>
                    <th><%= grupo.Id_area %></th> 
                    <th><%= grupo.Id_actividad %></th>
                    <th><%= grupo.Dias %></th> 
                    <th><%= grupo.Hora_inicio %></th>
                    <th><%= grupo.Hora_fin %></th>
                    <th><%= link_to "Editar", edit_grupo_actividad_path(id: grupo.Id_Grupo) %>
                    <%= link_to "Eliminar", grupo, method: :delete, data: { confirm: "Desea eliminar #{grupo.Nombre}?"} %></th>
                </tr>
            <%end%>
        <%end%>
    </table>
<%when 3 %>
<h2 class="text-center">GRUPOS DE ACTIVIDADES CON ERRORES EN EXTRAESCOLARES</h2>
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id Grupo</th>
        <th>Nombre</th> 
        <th>Cupo</th>
        <th>Id Area</th> 
        <th>Id Actividad</th>
        <th>Id Dias</th> 
        <th>Hora Inicio</th>
        <th>Hora Fin</th> 
        <th>Opciones</th> 
    </tr>
        <% @grupos_data.each do |grupo| %>
            <%if grupo.errorCupo %>
                <tr>
                    <th><%= grupo.Id_Grupo %></th>
                    <th><%= grupo.Nombre %></th> 
                    <th class ='alert alert-danger'><%= grupo.Cupo %></th>
                    <th><%= grupo.Id_area %></th> 
                    <th><%= grupo.Id_actividad %></th>
                    <th><%= grupo.Dias %></th> 
                    <th><%= grupo.Hora_inicio %></th>
                    <th><%= grupo.Hora_fin %></th>
                    <th><%= link_to "Editar", edit_grupo_actividad_path(id: grupo.Id_Grupo) %>
                    <%= link_to "Eliminar", grupo, method: :delete, data: { confirm: "Desea eliminar #{grupo.Nombre}?"} %></th>
                </tr>
            <%end%>
        <%end%>
</table>
 <%end%>