<h1 class="text-center">CalificacionesAlumno</h1>
<!----<p>Find me in app/views/calificaciones_alumno/index.html.erb</p>---->
<h2 class="text-center">CALIFICACIONES DE ALUMNOS DE INGLES EN DATA WAREHOUSE</h2>
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id Alumno</th>
        <th>Id Nivel</th>
        <th>Id Periodo</th>
        <th>Calificación</th> 
        <th>Unidad</th>
    </tr>
    <% @calificaciones_data.each do |calif| %>
        <tr>
            <th><%= calif.Id_Alumno%></th>
            <th><%= calif.Id_nivel %></th>  
            <th><%= calif.Id_Periodo %></th> 
            <th><%= calif.Calificacion%></th> 
            <th><%= calif.Unidad%></th> 
        </tr>
    <%end%>
</table>