<h1 class="text-center">Aula</h1>
<h2 class="text-center">AULAS DATA WAREHOUSE</h2>
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id Aula</th>
        <th>Nombre</th> 
        <th>Edificio</th>
        <th>Descripcion</th>
    </tr>
    <% @aulas_data.each do |aula_data| %>
        <tr>
            <th><%= aula_data.Id_Aula %></th> 
            <th><%= aula_data.Nombre %></th> 
            <th><%= aula_data.Edificio %></th> 
            <th><%= aula_data.Descripcion %></th> 
        </tr>
    <%end%>
</table>
<h2 class="text-center">AULAS EN CONTROL ACADEMICO</h2>
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id Aula</th>
        <th>Nombre</th> 
        <th>Edificio</th>
    </tr>
    <% @aulas_ca.each do |aula_ca| %>
        <tr>
            <th><%= aula_ca.Id_Aula %></th> 
            <th><%= aula_ca.Nombre %></th> 
            <th><%= aula_ca.Edificio %></th> 
        </tr>
    <%end%>
</table>
<h2 class="text-center">AULAS EN EXTRAESCOLARES</h2>
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id Aula</th>
        <th>Nombre</th> 
        <th>Descripcion</th>
    </tr>
    <% @aulas_e.each do |aula_e| %>
        <tr>
            <th><%= aula_e.Id_aula_extra %></th> 
            <th><%= aula_e.Nombre %></th> 
            <th><%= aula_e.Descripcion %></th> 
        </tr>
    <%end%>
</table>
