<div class = "container">
  <h2 class="text-center">Editar Materia </h2>
  <%= simple_form_for @materia, url: materium_path, method: :patch do |f| %>
    <%@materia.errors.each do |value, message|%>
      <h5 class= "alert alert-danger"><%=message%></h5>
    <%end%>
    <%= f.input :Id_Materia, readonly: true %>
    <% if @errores[0] == 1 %>
      <%= f.input :Nombre, error: false %>
    <% else %>
      <%= f.input :Nombre, readonly: true %>
    <% end %>
    <%= f.input :Clave, readonly: true %>
    <% if @errores[1] == 1 %>
      <%= f.input :Créditos, error: false %>
    <% else %>
      <%= f.input :Créditos, readonly: true %>
    <% end %>
    <div class= "text-center">
      <%= f.submit 'Guardar', class: "btn btn-primary"%>
      <%= link_to  "Regresar", materia_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>