<% if @all_empty == true %>
  <div class = "text-center">
    <h1>¡Has corregido todos los datos!</h1>
    <% if current_user.tipo == 1 %>
      <%= link_to "Generar EXCEL", download_path, class: "btn btn-primary d-flex"%>
    <% else %>
      <h3>¡Ahora, el Administrador podrá descargarlos!</h3>
    <% end %>
  </div>
<%else%>
  <h1 class="text-center">Tablas con errores</h1>
<%end%>

<div>
  <%if @alumnos == true %>
    <%= link_to "Alumnos", alumnos_path, class: "btn botones_tablas"%>
  <%end%>
  <%if @maestros == true %>
    <%= link_to "Maestros", maestros_path, class: "btn botones_tablas"%>
  <%end%>
  <%if @adeudos == true %>
    <%= link_to "Adeudos", adeudos_path, class: "btn botones_tablas"%>
  <%end%>
  <%if @area_ma == true %>
    <%= link_to "Áreas Maestros", area_maestro_index_path, class: "btn botones_tablas"%>
  <%end%>
  <%if @area_adm == true %>
    <%= link_to "Áreas Maestros", area_maestro_index_path, class: "btn botones_tablas"%>
  <%end%>
  <%if @asis_alu == true %>
    <%= link_to "Asistencia Alumno a Act. Extrescolares", asistencia_alumno_index_path, class: "btn botones_tablas"%>
  <%end%>
</div>

<%if @all_empty == false %>
  <%= link_to "Eliminar todos los datos", eliminar_errores_path, class: "btn btn-primary"%>
<%end%>
