<% if @all_empty == true %>
  <div class = "text-center">
    <h1>¡Has corregido todos los datos!</h1>
    <% if current_user.tipo == 1 %>
      <%= link_to "Generar EXCEL", download_path, class: "btn btn-primary d-flex"%>
    <% else %>
      <h3>¡Ahora, el Administrador podrá descargarlos!</h3>
    <% end %>
  </div>
<%else%>
  <h1 class="text-center">Tablas con errores</h1>
<%end%>

<div class="text-center">
<%if !@all_empty %>
  <% case current_user.tipo %>
  <% when 1 %>
    <%if !@alumnos%>
      <%= link_to "Alumnos" , alumnos_path, class: "btn botones_tablas"%>
    <%end%>
    <%if !@adeudos %>
      <%= link_to "Adeudos", adeudos_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @area_ma != true %>
      <%= link_to "Áreas Maestros", area_maestro_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @areas_admin != true %>
      <%= link_to "Áreas Admin", areas_admin_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @asis_alu != true %>
      <%= link_to "Asistencia Alumno a Act. Extrescolares", asistencia_alumno_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @calif_alu != true %>
      <%= link_to "Calificaciones/Alumno", calificaciones_alumno_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @carreras != true %>
      <%= link_to "Carreras", carrera_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @detalle_ord != true %>
      <%= link_to "Detalle ordenes", detalle_orden_compra_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @editoriales != true %>
      <%= link_to "Editorial", editoriales_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @empleados != true %>
      <%= link_to "empleado", empleados_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @grupo_act != true %>
      <%= link_to "Grupo Actividad", grupo_actividad_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @grupos != true %>
      <%= link_to "Grupos", grupo_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @libros != true %>
      <%= link_to "Libros", libros_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @maestros != true %>
      <%= link_to "Maestros", maestros_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @materias != true %>
      <%= link_to "Materias", materia_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @materiales != true %>
      <%= link_to "Materiales", materiales_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @movilidad != true %>
      <%= link_to "Movilidad", movilidad_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @ord_comp != true %>
      <%= link_to "Ordenes de Compra", orden_de_compra_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @paises != true %>
      <%= link_to "Paises", paises_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @perdidas != true %>
      <%= link_to "Perdidas Materiales", perdidas_materiales_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @personal_admin != true %>
      <%= link_to "Personal Admin", personal_admin_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @prestamos != true %>
      <%= link_to "Prestamos", prestamos_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @recursos != true %>
      <%= link_to "Recursos materiales", recurso_material_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @tipo_cons != true %>
      <%= link_to "Tipo Constancia", tipo_constancia_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @tipo_eva != true %>
      <%= link_to "Tipo Evaluacion", tipo_evaluacion_index_path, class: "btn botones_tablas"%>
    <%end%>
  <%when 2%>
    <%if !Alumno.using(:data_warehouse).where(errorNombre: 1).empty? || !Alumno.using(:data_warehouse).where(errorTelefono: 1).empty? || !Alumno.using(:data_warehouse).where(errorTelefono: 3).empty? || !Alumno.using(:data_warehouse).where(errorCurp: 1).empty? || !Alumno.using(:data_warehouse).where(errorCorreo: 1).empty? || !Alumno.using(:data_warehouse).where(errorPromedio: 1).empty? || !Alumno.using(:data_warehouse).where(errorCreditos: 1).empty?%>
      <%= link_to "Alumnos" , alumnos_path, class: "btn botones_tablas" %>
    <%end%>
    <%if !Area_maestro.using(:data_warehouse).where(errorNombre: 1).empty? %>
      <%= link_to "Áreas Maestros", area_maestro_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @areas_admin != true %>
      <%= link_to "Áreas Admin", areas_admin_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if !Carrera.using(:data_warehouse).where(errorNombre: 1, base: "c").empty? || !Carrera.using(:data_warehouse).where(errorCreditos: 1, base: "c").empty? %>
      <%= link_to "Carreras", carrera_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @grupos != true %>
      <%= link_to "Grupos", grupo_index_path, class: "btn botones_tablas"%>
    <%end%>
    <% if !Maestro.using(:data_warehouse).where(errorNombre: 1, base: 'c').empty? || !Maestro.using(:data_warehouse).where(errorTelefono: 1, base: 'c').empty? || !Maestro.using(:data_warehouse).where(errorCorreo: 1, base: 'c').empty?  %>
      <%= link_to "Maestros", maestros_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @materias != true %>
      <%= link_to "Materias", materia_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @movilidad != true %>
      <%= link_to "Movilidad", movilidad_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @personal_admin != true %>
      <%= link_to "Personal Admin", personal_admin_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @tipo_cons != true %>
      <%= link_to "Tipo Constancia", tipo_constancia_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @tipo_eva != true %>
      <%= link_to "Tipo Evaluacion", tipo_evaluacion_index_path, class: "btn botones_tablas"%>
    <%end%>
  <%when 3%>
    <% if !Alumno.using(:data_warehouse).where(errorNombre: 2).empty? || !Alumno.using(:data_warehouse).where(errorTelefono: 2).empty? || !Alumno.using(:data_warehouse).where(errorTelefono: 3).empty? || !Alumno.using(:data_warehouse).where(errorPeso: 2).empty? || !Alumno.using(:data_warehouse).where(errorCorreo: 2).empty? %>
      <%= link_to "Alumnos" , alumnos_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @asis_alu != true %>
      <%= link_to "Asistencia Alumno a Act. Extrescolares", asistencia_alumno_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @calif_alu != true %>
      <%= link_to "Calificaciones/Alumno", calificaciones_alumno_index_path, class: "btn botones_tablas"%>
    <%end%>
    <% if !Carrera.using(:data_warehouse).where(errorNombre: 1, base: "e").empty? || !Carrera.using(:data_warehouse).where(errorCreditos: 1, base: "e").empty? %>
      <%= link_to "Carreras", carrera_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @detalle_ord != true %>
      <%= link_to "Detalle ordenes", detalle_orden_compra_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @grupo_act != true %>
      <%= link_to "Grupo Actividad", grupo_actividad_index_path, class: "btn botones_tablas"%>
    <%end%>
    <% if !Maestro.using(:data_warehouse).where(errorNombre: 1, base: 'e').empty? || !Maestro.using(:data_warehouse).where(errorTelefono: 1, base: 'e').empty? || !Maestro.using(:data_warehouse).where(errorCorreo: 1, base: 'e').empty? %>
      <%= link_to "Maestros", maestros_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @ord_comp != true %>
      <%= link_to "Ordenes de Compra", orden_de_compra_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @perdidas != true %>
      <%= link_to "Perdidas Materiales", perdidas_materiales_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @prestamos != true %>
      <%= link_to "Prestamos", prestamos_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @recursos != true %>
      <%= link_to "Recursos materiales", recurso_material_index_path, class: "btn botones_tablas"%>
    <%end%>
  <%when 4%>
    <%if @adeudos != true %>
      <%= link_to "Adeudos", adeudos_path, class: "btn botones_tablas"%>
    <%end%>
    <%if !Area_maestro.using(:data_warehouse).where(errorNombre: 2).empty? %>
      <%= link_to "Áreas Maestros", area_maestro_index_path, class: "btn botones_tablas"%>
    <%end%>
    <% if !Carrera.using(:data_warehouse).where(errorNombre: 1, base: "b").empty? || !Carrera.using(:data_warehouse).where(errorCreditos: 1, base: "b").empty?%>
      <%= link_to "Carreras", carrera_index_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @editoriales != true %>
      <%= link_to "Editorial", editoriales_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @empleados != true %>
      <%= link_to "empleado", empleados_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @libros != true %>
      <%= link_to "Libros", libros_path, class: "btn botones_tablas"%>
    <%end%>
    <% if !Maestro.using(:data_warehouse).where(errorNombre: 1, base: 'b').empty? || !Maestro.using(:data_warehouse).where(errorTelefono: 1, base: 'b').empty? || !Maestro.using(:data_warehouse).where(errorCorreo: 1, base: 'b').empty? %>
      <%= link_to "Maestros", maestros_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @materiales != true %>
      <%= link_to "Materiales", materiales_path, class: "btn botones_tablas"%>
    <%end%>
    <%if @paises != true %>
      <%= link_to "Paises", paises_path, class: "btn botones_tablas"%>
    <%end%>
  <%end%>
<%end%>

<%if !@all_empty%>
  <%= link_to "Eliminar todos los datos", eliminar_errores_path, class: "btn btn-primary"%>
<%end%>
</div>

