<h1 class="text-center">Maestros</h1>
<!----<p>Find me in app/views/maestros/edit.html.erb</p>--->
<h2 class="text-center">EDITRA DATOS DE MAESTROS</h2>
<div class="container">
  <%= simple_form_for @maestro, method: :patch do |f| %> <!-- CREA UN FORMULARIO PARA LA VARIABLE @alumno -->
    <%@maestro.errors.each do |value, message|%> 
      <h5 class= "alert alert-danger"><%=message%></h5>
    <%end%>
    <%= f.input :Id_maestro, readonly: true, style: "width: 300"%>
    <%if @errores[0] == nil%>
      <%= f.input :Nombre, placeholder: "Título", readonly: true %>
    <%else%>
      <%= f.input :Nombre, placeholder: "Título", error: false %>
    <%end%>
    <%if @errores[1] == nil%>
      <%= f.input :Telefono, placeholder: "Título", readonly: true %>
    <%else%>
      <%= f.input :Telefono, placeholder: "Título", error: false%>
    <%end%>
    <%if @errores[2] == nil %>
      <%= f.input :CorreoElec, placeholder: "E-mail", readonly: true %>
    <%else%>
      <%= f.input :CorreoElec, placeholder: "E-mail", error: false%>
    <%end%>
    <%= f.submit "Guardar", class:"btn btn-primary m-2" %> 
    <%= link_to  "Regresar", maestros_path, class:"btn btn-primary m-2" %>
  <% end %> 
<div>