<h1>Maestros#index</h1>
<p>Find me in app/views/maestros/index.html.erb</p>
<h2>MAESTROS</h2>
<%case current_user.tipo %>
<%when 1 %>
<h2>MAESTROS CON ERRORES EN DATA WAREHOUSE</h2>
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id</th>
        <th>Id Área</th>
        <th>Clave Extraes.</th>
        <th>Nombre</th> 
        <th>E-mail</th>
        <th>Teléfono</th>
        <th>Título</th>
        <th>Opciones</th>
    </tr>
    <% @maestrosData.each do |maestro| %>
        <%if maestro.errorNombre || maestro.errorTelefono %>
            <tr>
                <th><%= maestro.Id_maestro %></th>
                <th><%= maestro.Id_Area_mtro %></th>
                <th><%= maestro.Clave %></th>
                <%if maestro.errorNombre%>
                    <th class ='alert alert-danger'><%= maestro.Nombre %></th>
                <%else%>
                    <th><%= maestro.Nombre %></th>
                <%end%>
                <th><%= maestro.CorreoElec %></th>
                <%if maestro.errorTelefono%>
                    <th class ='alert alert-danger'><%= maestro.Telefono %></th>
                <%else%>
                    <th><%= maestro.Telefono %></th>
                <%end%>
                <th><%= maestro.Titulo %></th> 
                <th><%= link_to "Editar", edit_maestro_path(id: maestro.Id_maestro) %>
                <%= link_to "Eliminar", maestro, method: :delete, data: { confirm: "¿Desea eliminar a #{maestro.Nombre}?"} %></th>
            </tr>
        <%end%>
    <%end%>
</table>
<%when 2 %>
<h2>MAESTROS CON ERRORES EN CONTROL ACADEMICO</h2>
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id</th>
        <th>Id Área</th>
        <th>Nombre</th> 
        <th>E-mail</th>
        <th>Teléfono</th>
        <th>Título</th>
        <th>Opciones</th>
    </tr>
    <% @maestrosData.each do |maestro| %>
        <%if (maestro.errorNombre || maestro.errorTelefono) && maestro.base == 'c'%>
            <tr>
                <th><%= maestro.Id_maestro %></th>
                <th><%= maestro.Id_Area_mtro %></th>
                <%if maestro.errorNombre%>
                    <th class ='alert alert-danger'><%= maestro.Nombre %></th>
                <%else%>
                    <th><%= maestro.Nombre %></th>
                <%end%>
                <th><%= maestro.CorreoElec %></th>
                <%if maestro.errorTelefono%>
                    <th class ='alert alert-danger'><%= maestro.Telefono %></th>
                <%else%>
                    <th><%= maestro.Telefono %></th>
                <%end%>
                <th><%= maestro.Titulo %></th> 
                <th><%= link_to "Editar", edit_maestro_path(id: maestro.Id_maestro) %>
                <%= link_to "Eliminar", maestro, method: :delete, data: { confirm: "¿Desea eliminar a #{maestro.Nombre}?"} %></th>
            </tr>
        <%end%>
    <%end%>
</table>
<%when 3 %>
<h2>MAESTROS EN EXTRAESCOLARES</h2>
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id</th>
        <th>Id Área</th>
        <th>Clave</th>
        <th>Nombre</th> 
        <th>E-mail</th>
        <th>Teléfono</th>
        <th>Opciones</th>
    </tr>
    <% @maestrosData.each do |maestro| %>
        <%if (maestro.errorNombre || maestro.errorTelefono) && maestro.base == 'e' %>
            <tr>
                <th><%= maestro.Id_maestro %></th>
                <th><%= maestro.Id_Area_mtro %></th>
                <th><%= maestro.Clave %></th>
                <%if maestro.errorNombre%>
                    <th class ='alert alert-danger'><%= maestro.Nombre %></th>
                <%else%>
                    <th><%= maestro.Nombre %></th>
                <%end%>
                <th><%= maestro.CorreoElec %></th>
                <%if maestro.errorTelefono%>
                    <th class ='alert alert-danger'><%= maestro.Telefono %></th>
                <%else%>
                    <th><%= maestro.Telefono %></th>
                <%end%>
                <th><%= link_to "Editar", edit_maestro_path(id: maestro.Id_maestro) %>
                <%= link_to "Eliminar", maestro, method: :delete, data: { confirm: "¿Desea eliminar a #{maestro.Nombre}?"} %></th>
            </tr>
        <%end%>
    <%end%>
</table>
<%end%>
