<h1 class="text-center">Carrera</h1>
<%case current_user.tipo %>
<%when 1 %>
    <h2 class="text-center">CARRERAS CON ERRORES EN DATAWAREHOUSE</h2>
    <table style="width:100%", class= "table table-striped table-bordered table-sm">
        <tr>
            <th>Id Carrera</th>
            <th>Nombre</th>
            <th>Descripción</th> 
            <th>Créditos</th>
            <th>Acreditada</th>
            <th>Opciones</th>
        </tr>
        <% @carreras_data.each do |carrera| %>
            <%if carrera.errorNombre %>
                <tr>
                    <th><%= carrera.Id_Carrera %></th>
                    <th class ='alert alert-danger'><%= carrera.Nombre %></th> 
                    <th><%= carrera.Descripción %></th> 
                    <th><%= carrera.Creditos %></th>
                    <th><%= carrera.Acreditada %></th>
                    <th><%= link_to "Editar", edit_carrera_path(id: carrera.Id_Carrera) %>
                    <%= link_to "Eliminar", carrera, method: :delete, data: { confirm: "Desea eliminar #{carrera.Nombre}?"} %></th>
                </tr>
            <%end%>
        <%end%>
    </table>
<%when 2 %>
<h2 class="text-center">CARRERAS CON ERROR EN CONTROL ACADEMICO</h2>
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id Carrera</th>
        <th>Nombre</th>
        <th>Descripción</th> 
        <th>Créditos</th>
        <th>Acreditada</th>
        <th>Opciones</th> 
    </tr>
    <% @carreras_data.each do |carrera| %>
            <%if carrera.errorNombre && carrera.base=='e' %>
                <tr>
                    <th><%= carrera.Id_Carrera %></th>
                    <th class ='alert alert-danger'><%= carrera.Nombre %></th> 
                    <th><%= carrera.Descripción %></th> 
                    <th><%= carrera.Creditos %></th>
                    <th><%= carrera.Acreditada %></th>
                    <th><%= link_to "Editar", edit_carrera_path(id: carrera.Id_Carrera) %>
                    <%= link_to "Eliminar", carrera, method: :delete, data: { confirm: "Desea eliminar #{carrera.Nombre}?"} %></th>
                </tr>
            <%end%>
        <%end%>
</table>
<%when 3 %>
<h2 class="text-center">CARRERAS CON ERROR EN EXTRAESCOLARES</h2>
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id Carrera</th>
        <th>Nombre</th>
        <th>Descripción</th> 
        <th>Créditos</th>
        <th>Acreditada</th>
        <th>Opciones</th> 
    </tr>
    <% @carreras_data.each do |carrera| %>
            <%if carrera.errorNombre && carrera.base=='e' %>
                <tr>
                    <th><%= carrera.Id_Carrera %></th>
                    <th class ='alert alert-danger'><%= carrera.Nombre %></th> 
                    <th><%= carrera.Descripción %></th> 
                    <th><%= carrera.Creditos %></th>
                    <th><%= carrera.Acreditada %></th>
                    <th><%= link_to "Editar", edit_carrera_path(id: carrera.Id_Carrera) %>
                    <%= link_to "Eliminar", carrera, method: :delete, data: { confirm: "Desea eliminar #{carrera.Nombre}?"} %></th>
                </tr>
            <%end%>
        <%end%>
</table>
<%when 4 %>
<h2 class="text-center">CARRERAS CON ERROR EN BIBLIOTECA </h2>
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id Carrera</th>
        <th>Nombre</th>
        <th>Descripción</th> 
        <th>Créditos</th>
        <th>Acreditada</th>
        <th>Opciones</th> 
    </tr>
    <% @carreras_data.each do |carrera| %>
            <%if carrera.errorNombre && carrera.base=='b' %>
                <tr>
                    <th><%= carrera.Id_Carrera %></th>
                    <th class ='alert alert-danger'><%= carrera.Nombre %></th> 
                    <th><%= carrera.Descripción %></th> 
                    <th><%= carrera.Creditos %></th>
                    <th><%= carrera.Acreditada %></th>
                    <th><%= link_to "Editar", edit_carrera_path(id: carrera.Id_Carrera) %>
                    <%= link_to "Eliminar", carrera, method: :delete, data: { confirm: "Desea eliminar #{carrera.Nombre}?"} %></th>
                </tr>
            <%end%>
        <%end%>
</table>
 <%end%>
<div class="text-center">
    <%= link_to "Eliminar todo", eliminar_carreras_path, data: { confirm: "Desea eliminar todos los registros de Carreras?" }, class: 'btn btn-primary btn-lg' %>
    <%if @errores %>
            <%= link_to "Continuar" ,'', data: { confirm: "Hijole, no puedes continuar si no has quitado los errores :(" }, class: 'btn btn-primary btn-lg' %>
    <%else%>
            <%= link_to "Continuar" , grupo_actividad_index_path, method: :get , class: 'btn btn-primary btn-lg'%>
    <%end%>
</div>

