<h1>Carrera#index</h1>
<p>Find me in app/views/carrera/index.html.erb</p>
<%case current_user.tipo %>
<%when 1 %>
    <h2>CARRERAS CON ERRORES EN DATAWAREHOUSE</h2>
    <table style="width:100%", class= "table table-striped table-bordered table-sm">
        <tr>
            <th>Id Carrera</th>
            <th>Nombre</th>
            <th>Descripción</th> 
            <th>Créditos</th>
            <th>Acreditada</th>
            <th>Opciones</th>
        </tr>
        <% @carreras_data.each do |carrera| %>
            <%if carrera.errorNombre %>
                <tr>
                    <th><%= carrera.Id_Carrera %></th>
                    <th class ='alert alert-danger'><%= carrera.Nombre %></th> 
                    <th><%= carrera.Descripción %></th> 
                    <th><%= carrera.Creditos %></th>
                    <th><%= carrera.Acreditada %></th>
                    <th><%= link_to "Editar", edit_carrera_path(id: carrera.Id_Carrera) %>
                    <%= link_to "Eliminar", carrera, method: :delete, data: { confirm: "Desea eliminar #{carrera.Nombre}?"} %></th>
                </tr>
            <%end%>
        <%end%>
    </table>
<%when 3 %>
<h2>CARRERAS EN EXTRAESCOLARES</h2>
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id Carrera</th>
        <th>Nombre</th>
        <th>Descripción</th> 
        <th>Créditos</th>
        <th>Acreditada</th>
        <th>Opciones</th> 
    </tr>
    <% @carreras_data.each do |carrera| %>
            <%if carrera.errorNombre && carrera.base=='e' %>
                <tr>
                    <th><%= carrera.Id_Carrera %></th>
                    <th class ='alert alert-danger'><%= carrera.Nombre %></th> 
                    <th><%= carrera.Descripción %></th> 
                    <th><%= carrera.Creditos %></th>
                    <th><%= carrera.Acreditada %></th>
                    <th><%= link_to "Editar", edit_carrera_path(id: carrera.Id_Carrera) %>
                    <%= link_to "Eliminar", carrera, method: :delete, data: { confirm: "Desea eliminar #{carrera.Nombre}?"} %></th>
                </tr>
            <%end%>
        <%end%>
</table>
 <%end%>
<%if @errores %>
    <%= link_to "CONTINUAR" ,'', data: { confirm: "No puedes continuar si no has quitado los errores :(" } %>
<%else%>
    <%= link_to "CONTINUAR" , grupo_actividad_index_path, method: :get %>
<%end%>
