<div class = "container">
  <h2 class="text-center">Editar Ãreas Administrativas</h2>
  <%= simple_form_for @areas, method: :patch do |f| %>
    <%@areas.errors.each do |value, message|%> 
      <h5 class= "alert alert-danger"><%=message%></h5>
    <%end%>
    <%= f.input :Id_Area, readonly: true %>
    <%= f.input :Nombre, error: false %>
    <%= f.input :Descr, readonly: true%>
    <div class= "text-center">
      <%= f.submit 'Guardar', class: "btn btn-primary"%>
      <%= link_to  "Regresar", areas_admin_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>