<h1 class="text-center">Alumno - Competencia</h1>
<!----<p>Find me in app/views/alumno_comp/index.html.erb</p>---->
<table style="width:100%", class= "table table-striped table-bordered table-sm">
    <tr>
        <th>Id Alumno</th>
        <th>Id Competencia</th> 
        <th>Oportunidad</th>
        <th>Calificación</th>
        <th>Opciones</th>
    </tr>
    <% @alum_comp_data.each do |alumno| %>
      <%if !alumno.error %>
        <tr>
            <th><%= alumno.Id_Alumno %></th>
            <th><%= alumno.Id_Compet %></th> 
            <th><%= alumno.Oportunidad %></th> 
            <th><%= alumno.Calificación %></th>
            <th><%= link_to "Editar", edit_alumno_comp_path(id: alumno.Id_Alumno)%> 
            <%= link_to "Eliminar", alumno, method: :delete, data: { confirm: "¿Desea eliminar el registro del Alumno #{alumno.Id_Alumno}?"}%></th>
        </tr>
      <%end%>
    <%end%>
</table>