
<nav class="d-flex bd-highlight mb-3">
  <a class="navbar-brand mr-auto p-2 bd-highlight" href="/welcome/index">Escuela Pancho Villa</a>
  <%if user_signed_in?%>
      <% case current_user.tipo %>
      <% when 1 %>
        <%= link_to "Administrador", '', class: "btn btn-primary"%>
        <%= link_to "Control Académico", '', class: "btn btn-primary"%>
        <%= link_to "Extraescolares", '', class: "btn btn-primary"%>
        <%= link_to "Biblioteca", '', class: "btn btn-primary"%>
      <% when 2 %>
        <%= link_to "Control Académico", '', class: "btn btn-primary"%>
      <% when 3 %>
        <%= link_to "Extraescolares", '', class: "btn btn-primary"%>
      <% when 4 %>
        <%= link_to "Biblioteca", '', class: "btn btn-primary"%>
      <% end %>
      <%= link_to "Cerrar Sesión", destroy_user_session_path, class: "btn btn-primary"%>
    
  <%end%> 
</nav>
